/* nav */
.navbar-brand{
    font-size: 40px;
    font-family:verdana;
    font-style:italic;
    }
    @media screen and (max-width:576px){
        .navbar-brand{
            font-size: 20px;
            font-family:verdana;
            font-style:italic;
            }
    }
        
    .navbar-brand{
        display:flex;
        flex:1;  
        
    }
    #navbarScroll ul li a {
        margin:20px;
        justify-content: center;
        
    }
    #navbarScroll ul li a:hover{
        color: #fbc531 ;
        transition:1s ease;
        border-bottom:2px dashed #fbc531;
      
    }
    /* nav */
    body{
        background-size: cover;
        background-repeat: no-repeat;
        background-image:url(imges/3dimg.avif) ;
    }
    /* form1  css */
    .slide{
        flex:0 0 100%;
        height: 600px;
        background-size: cover;
        background-position: center;
    }
    .slide.active{
        transform:translateX(0);
    }
    .slide label{
        color:white;
    }
    .slide{
        width:880px;
        border-radius:20px;
        border:1px solid white;
        background-color: black;
    }
    .slide label{
        margin-left:25%;
    }
    .slide input{
        width:50%;
        display:flex;
        margin:0 auto;
    }
    button{
        margin:20px;
        margin-left:25%;
    }
    .heading{
        text-align:center;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .slide {
          height: 500px;
          width: 500px;
        }
      }
      
      
      @media (min-width: 992px) {
        .slide {
          height: 500px;
          width: 500px;
        }
      }
    
      @media (min-width: 576px) and (max-width: 767px) {
        .slide {
          height: 500px;
          width: 300px;
          border-radius: 10px;
        }
        #form1 label{
            font-size: 15px;
        }
    
     
        button {
            margin: 10px;
            margin-left: 15%;
            width:65px;
          }
      }

    @media (max-width: 575px) {
        .slide {
          height: 500px;
          width: 300px;
          border-radius: 10px;
        }
        #form1 label{
            font-size: 15px;
        }
    
        button {
          margin: 10px;
          margin-left: 15%;
          width:65px;
        }
      }
    /* form css */
      /* footer */
      .content{
        gap:40px;
        color:white;
        padding:20px;
    } 
    
    .content h3 p{
        color:#3498db;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
      footer {
          margin-top: auto;
        }
      

      /* footer */
    
                  

  