/* navbar */
.navbar-brand{
  font-size: 40px;
  font-style:italic;
  font-family:verdana;
  }
  @media screen and (max-width:576px){
      .navbar-brand{
          font-size: 20px;
          font-style:italic;
          font-family:verdana;
          }
  }
      
  .navbar-brand{
      flex:1;  
      display:flex;
      
  }
  #navbarScroll ul li a {
      margin:20px;
      justify-content: center;
      
  }
  #navbarScroll ul li a:hover{
      color: #fbc531 ;
      transition:1s ease; 
  }
  /* navbar */
  /* main */
/* footer */
footer {
    background-color: #343a40;
  }
  
  .footer-container {
    background-color: #343a40;
  }
  
  .footer-heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .footer-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #bbb;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #bbb;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #ff7f50;
  }
  
  .footer-bottom {
    background-color: #2b3036;
    color: #aaa;
  }
  
  .footer-bottom p {
    font-size: 0.9rem;
  }
  
  
  /* Responsive Styles */
  @media (max-width: 767px) {
    .footer-container {
      padding: 20px;
    }
  
    .footer-heading {
      font-size: 1.25rem;
    }
  
    .footer-description {
      font-size: 0.9rem;
    }
  
    .footer-links li {
      text-align: center;
    }
  
    .footer-links a {
      font-size: 0.9rem;
    }
  }
   